#content .view-i-wish,
#content .view-i-planted, 
#content .view-recent-stories,
#content .view-most-encouraged {
  position:relative;
  top:15px;
}

#content .view-i-wish .views-field-picture img,
#content .view-i-planted .views-field-picture img,
#content .view-recent-stories .views-field-picture img, 
#content .view-most-encouraged .views-field-picture img { 
  height:90px;
  width:70px;
}

#content .view-i-wish .views-field-title,
#content .view-i-planted .views-field-title,
#content .view-recent-stories .views-field-title,
#content .view-most-encouraged .views-field-title {
  position: relative;
  top: -100px;
  left: 80px;
  font-style: italic;
}

#content .views-field-title .field-content a {
	font-size:18px;
}

#content .view-i-wish .rate-widget-2,
#content .view-i-planted .rate-widget-1,
#content .view-recent-stories .rate-widget-1,
#content .view-most-encouraged .rate-widget-2 {
  float:none;
}
#content .view-i-wish .views-field-value,
#content .view-i-planted .views-field-value, 
#content .view-recent-stories .views-field-value,
#content .view-most-encouraged .views-field-value {
  position: relative;
  top: -24px;
  left: 120px;
  font-style: italic;
}

#content .view-i-wish .views-field-comment-count {
  position: relative;
  top: -49px;
  left: 302px;
}

#content .view-i-planted .views-field-comment-count, 
#content .view-recent-stories .views-field-comment-count {
	position: relative;
  top: -25px;
  left: 302px;
}

#content .view-i-wish .views-field-comments-link {
  position: relative	;
  top: -80px;
  left: 158px;
}

#content .view-i-planted .views-field-comments-link,
#content .view-recent-stories .views-field-comments-link {
	position: relative	;
  top: -55px;
  left: 158px;
}

#content .view-most-encouraged .views-field-comments-link {
	position: relative	;
  top: -117px;
  left: 158px;
}

#content .view-most-encouraged .views-field-comment-count {
	position: relative;
  top: -87px;
  left: 302px;
}

#content .view-i-wish .views-field-comments-link,#content .view-i-planted .views-field-comments-link,
#content .view-recent-stories .views-field-comments-link, 
#content .view-most-encouraged .views-field-comments-link {
  font-style:italic;
}

#content .view-content .view-field-title .field-content {
	position:relative;
	right:70px;
}

#content .view-content .views-field-value .field-content {
	position:relative;
	bottom:2px;
}

#content .view-content div .views-field-value-1 .field-content .rate-widget-2 {
	position:relative;
	top:30px;
	right:5px;
}

#content .view-i-planted .view-content .views-field-value .field-content a,
#content .view-recent-stories .view-content .views-field-value .field-content a {
	position:absolute;
	bottom:8px;
	left:110px;
}

#content .view-content .views-field-value .field-content .rate-widget-2 {
	position:absolute;
	top:-20px;
	left:-10px;
}

#content .view-content .views-field-value-1 .field-content {
	position:relative;
	left:118px;
	bottom:65px;
}

#content .view-recent-stories .view-content .views-field-value-1 .field-content,
#content .view-i-planted .view-content .views-field-value-1 .field-content {
	top:-4px;
}

.article-content .rate-widget-1 a #rate-button-2 {
	float:left;
}

#content .views-field-comment-link a {
	position:relative;
	top:5px;
}

