.profile .user-picture {
  float:left;
  border:1px solid;
  background:#ffffff;
  height:101px;
  width:94px;
}

.profile .main-profile {
  float:right;
  width:80%;
}

#content .block-content {
	font-size: 15px;
	margin-top: 20px;
	padding-bottom: 35px;
}
#content .block-content .location {
	font-size: 18px;
}

#content #block-views-my-wishes-and-stories-block .views-field-comment-count span,
#content #block-views-my-wishes-and-stories-block-1 .views-field-comment-count span {
	position:relative;
	top:0.5px;
}

#content #block-views-my-wishes-and-stories-block .views-field-value div,
#content #block-views-my-wishes-and-stories-block-1 .views-field-value div {
	position:relative;
	bottom:0.5px;
}

.profile .history {
  padding-top:25%;
}


