.profile .user-picture {
  float:left;
  border:1px solid;
  background:#ffffff;
  height:101px;
  width:94px;
}

.profile .main-profile {
  float:right;
  width:80%;
}

#content .block-content {
	font-size: 15px;
	margin-top: 20px;
	padding-bottom: 35px;
}
#content .block-content .location {
	font-size: 18px;
}

.profile .history {
  padding-top:25%;
}
